// Fonts
$primary-font: "roboto";
$primary-heading-font: "Caslon";
$primary-color: rgb(0, 174, 255);
$muted: #575656;

// Imports
@import "./resets.scss";

// Mixins
@mixin highlight($height, $color) {
  &::after {
    left: 0;
    content: "";
    position: absolute;
    display: inline;
    height: $height;
    width: 100%;
    opacity: 0.3;
    background-color: $color;
    bottom: 0px;
    transition: 0.2s ease all;
    z-index: -1;
  }
}

// General
body {
  font-family: $primary-font;
  line-height: 1.5;
}

a {
  text-decoration: underline;
}

h1 {
  text-align: center;
}

main {
  margin: 2em;
  display: flex;
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}

section {
  margin: 10px 0;
}

p {
  line-height: 1.8;
}

// class styling
.heading {
  &--primary {
    font-family: $primary-heading-font;
    font-size: 1.5em;
    font-weight: bold;
  }
}

.highlight {
  &--primary {
    position: relative;
    @include highlight(6px, $primary-color);
    &:hover {
      @include highlight(100%, $primary-color);
    }
  }
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  &__list {
    div {
      margin: 2px;
    }
  }
}

.experience {
  &__item {
    margin-top: 15px;
  }
  &__company {
    color: $primary-color;
    font-weight: bold;
  }
  &__date {
    font-style: italic;
    color: $muted;
  }
}

.skills {
  ul {
    line-height: 2;
    list-style: inside;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    @media screen and (max-width: 576px) {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
  }
}
